In [1]:
import numpy as np
import pandas as pd

# Viewing Data

In [2]:
dfr = pd.DataFrame(np.random.rand(100).reshape(20,5))
print(dfr)

           0         1         2         3         4
0   0.358136  0.785537  0.501360  0.311823  0.949445
1   0.545880  0.495596  0.896741  0.574930  0.442426
2   0.767990  0.026258  0.333036  0.913825  0.794262
3   0.370117  0.383157  0.012828  0.401926  0.473523
4   0.803419  0.999486  0.955744  0.213246  0.420820
5   0.702160  0.182570  0.930587  0.082974  0.626569
6   0.375792  0.764072  0.190670  0.701035  0.905901
7   0.968235  0.732172  0.709220  0.281066  0.247866
8   0.134267  0.388041  0.720601  0.282063  0.122424
9   0.613669  0.685820  0.117939  0.436398  0.043184
10  0.165319  0.177555  0.364197  0.465979  0.044260
11  0.693329  0.091771  0.160453  0.613420  0.879088
12  0.651214  0.323551  0.182605  0.825793  0.503387
13  0.161593  0.432209  0.704092  0.896944  0.928275
14  0.242581  0.849948  0.766094  0.012842  0.870791
15  0.400508  0.333573  0.182520  0.473056  0.705507
16  0.835882  0.592223  0.662087  0.278369  0.873905
17  0.591621  0.370392  0.934870  0.397346  0.084881
18  0.758136  0.503273  0.968970  0.697727  0.646746
19  0.450350  0.919390  0.863094  0.735332  0.080281

In [3]:
dfr

           0         1         2         3         4
0   0.358136  0.785537  0.501360  0.311823  0.949445
1   0.545880  0.495596  0.896741  0.574930  0.442426
2   0.767990  0.026258  0.333036  0.913825  0.794262
3   0.370117  0.383157  0.012828  0.401926  0.473523
4   0.803419  0.999486  0.955744  0.213246  0.420820
5   0.702160  0.182570  0.930587  0.082974  0.626569
6   0.375792  0.764072  0.190670  0.701035  0.905901
7   0.968235  0.732172  0.709220  0.281066  0.247866
8   0.134267  0.388041  0.720601  0.282063  0.122424
9   0.613669  0.685820  0.117939  0.436398  0.043184
10  0.165319  0.177555  0.364197  0.465979  0.044260
11  0.693329  0.091771  0.160453  0.613420  0.879088
12  0.651214  0.323551  0.182605  0.825793  0.503387
13  0.161593  0.432209  0.704092  0.896944  0.928275
14  0.242581  0.849948  0.766094  0.012842  0.870791
15  0.400508  0.333573  0.182520  0.473056  0.705507
16  0.835882  0.592223  0.662087  0.278369  0.873905
17  0.591621  0.370392  0.934870  0.397346  0.084881
18  0.758136  0.503273  0.968970  0.697727  0.646746
19  0.450350  0.919390  0.863094  0.735332  0.080281

In [4]:
dfr.head()

          0         1         2         3         4
0  0.358136  0.785537  0.501360  0.311823  0.949445
1  0.545880  0.495596  0.896741  0.574930  0.442426
2  0.767990  0.026258  0.333036  0.913825  0.794262
3  0.370117  0.383157  0.012828  0.401926  0.473523
4  0.803419  0.999486  0.955744  0.213246  0.420820

In [5]:
dfr.tail()

           0         1         2         3         4
15  0.400508  0.333573  0.182520  0.473056  0.705507
16  0.835882  0.592223  0.662087  0.278369  0.873905
17  0.591621  0.370392  0.934870  0.397346  0.084881
18  0.758136  0.503273  0.968970  0.697727  0.646746
19  0.450350  0.919390  0.863094  0.735332  0.080281

In [6]:
dfr.head(3)

          0         1         2         3         4
0  0.358136  0.785537  0.501360  0.311823  0.949445
1  0.545880  0.495596  0.896741  0.574930  0.442426
2  0.767990  0.026258  0.333036  0.913825  0.794262

# Selection

In [119]:
df = pd.DataFrame(np.random.randint(0,9,16).reshape(4,4),
                           index = ['a','b','c','d'],
                           columns = ['A','B','C','D'])
print(df)

   A  B  C  D
a  4  5  3  1
b  1  1  7  8
c  7  4  1  1
d  5  2  3  3

In [120]:
print(df.at['a','A']) #indexing
print(df.iat[0,0])    #integer positioning

4
4

In [121]:
print(df['B'])

a    5
b    1
c    4
d    2
Name: B, dtype: int32

In [122]:
print(df[['B','D']])

   B  D
a  5  1
b  1  8
c  4  1
d  2  3

In [123]:
print(df[0])

KeyError: 0

In [12]:
print(df['a':'c'])

   A  B  C  D
a  7  7  2  3
b  0  2  1  3
c  5  1  0  8

In [13]:
print(df[0:1])

   A  B  C  D
a  7  7  2  3

In [14]:
print(df[0:2])

   A  B  C  D
a  7  7  2  3
b  0  2  1  3

In [15]:
print(df.loc['a','B'])

7

In [16]:
print(df.loc['b':'d','A':'C'])

   A  B  C
b  0  2  1
c  5  1  0
d  8  7  6

In [17]:
print(df.loc['a':'c', :])

   A  B  C  D
a  7  7  2  3
b  0  2  1  3
c  5  1  0  8

In [18]:
print(df.loc[['a','c'], ['A','D']])

   A  D
a  7  3
c  5  8

In [19]:
print(df.loc['a':'c', 'A':'B'].join(df.loc['a':'c', 'D']))

   A  B  D
a  7  7  3
b  0  2  3
c  5  1  8

In [20]:
print(df.loc[:,['A','B','D']].loc['a':'c', :])

   A  B  D
a  7  7  3
b  0  2  3
c  5  1  8

In [21]:
print(df.iloc[1,3])

3

In [22]:
print(df.iloc[0:2,1:3])

   B  C
a  7  2
b  2  1

In [23]:
print(df.iloc[[1],[0,2]])

   A  C
b  0  1

In [24]:
print(type(df.iloc[[1],[0,2]]))

<class 'pandas.core.frame.DataFrame'>

In [25]:
print(df.iloc[1,[0,2]])

A    0
C    1
Name: b, dtype: int32

In [26]:
print(type(df.iloc[1,[0,2]]))

<class 'pandas.core.series.Series'>

In [27]:
print(df.at['b','D'])

3

In [28]:
print(df.iat[2,1])

1

In [29]:
print(df.iat[0:2,1:3])

ValueError: iAt based indexing can only have integer indexers

In [30]:
df = pd.DataFrame([[6,0.3,'one', True],[2,5.1,'two', False],[1,4.3,'three', True]], 
                     index=['a','b','c'], 
                     columns=['A','B','C','D'])
print(df)

   A    B      C      D
a  6  0.3    one   True
b  2  5.1    two  False
c  1  4.3  three   True

In [31]:
df.dtypes

A      int64
B    float64
C     object
D       bool
dtype: object

In [32]:
df2 = df.select_dtypes(include=['bool','int64'])
print(df2)

   A      D
a  6   True
b  2  False
c  1   True

In [33]:
df2 = df.select_dtypes(exclude=['bool','int64'])
print(df2)

     B      C
a  0.3    one
b  5.1    two
c  4.3  three

# Filtering

In [34]:
df = pd.DataFrame(np.random.rand(40).reshape(10,4), columns = ['A','B','C','D'])
print(df)

          A         B         C         D
0  0.497878  0.753872  0.316998  0.897446
1  0.346698  0.172985  0.023653  0.589517
2  0.440887  0.719287  0.622692  0.280825
3  0.776862  0.214410  0.576098  0.220265
4  0.652671  0.033319  0.093250  0.069738
5  0.153605  0.003893  0.080816  0.195577
6  0.835020  0.539567  0.384164  0.991319
7  0.355455  0.911003  0.893413  0.923197
8  0.295068  0.667123  0.554785  0.846672
9  0.523384  0.465534  0.286456  0.204596

In [35]:
df['A'] > 0.500000

0    False
1    False
2    False
3     True
4     True
5    False
6     True
7    False
8    False
9     True
Name: A, dtype: bool

In [36]:
df2 = df[ df['A'] > 0.500000 ]
print(df2)

          A         B         C         D
3  0.776862  0.214410  0.576098  0.220265
4  0.652671  0.033319  0.093250  0.069738
6  0.835020  0.539567  0.384164  0.991319
9  0.523384  0.465534  0.286456  0.204596

In [37]:
df2 = df.loc[ df['A'] > 0.500000]
print(df2)

          A         B         C         D
3  0.776862  0.214410  0.576098  0.220265
4  0.652671  0.033319  0.093250  0.069738
6  0.835020  0.539567  0.384164  0.991319
9  0.523384  0.465534  0.286456  0.204596

In [38]:
df.mean() > 0.500000

A    False
B    False
C    False
D     True
dtype: bool

In [39]:
df2 = df.loc[:,df.mean() > 0.500000]
print(df2)

          D
0  0.897446
1  0.589517
2  0.280825
3  0.220265
4  0.069738
5  0.195577
6  0.991319
7  0.923197
8  0.846672
9  0.204596

In [40]:
(df['A'] < 0.300000) | (df['A'] > 0.700000)

0    False
1    False
2    False
3     True
4    False
5     True
6     True
7    False
8     True
9    False
Name: A, dtype: bool

In [41]:
df2 = df[(df['A'] < 0.300000) | (df['A'] > 0.700000)]
print(df2)

          A         B         C         D
3  0.776862  0.214410  0.576098  0.220265
5  0.153605  0.003893  0.080816  0.195577
6  0.835020  0.539567  0.384164  0.991319
8  0.295068  0.667123  0.554785  0.846672

In [42]:
cond1 = df['A'] < 0.300000
cond2 = df['A'] > 0.700000
cond3 = df.mean() > 0.500000

df2 = df.loc[cond1 | cond2 ,cond3]
print(df2)

          D
3  0.220265
5  0.195577
6  0.991319
8  0.846672

In [43]:
df = pd.DataFrame(np.random.rand(40).reshape(10,4), columns = ['A','B','C','D'])
print(df)

          A         B         C         D
0  0.453761  0.800801  0.175066  0.545256
1  0.467465  0.403239  0.471259  0.003837
2  0.024711  0.336662  0.041231  0.526107
3  0.152140  0.603291  0.011055  0.592784
4  0.681096  0.689317  0.293595  0.141446
5  0.903170  0.572760  0.407412  0.093289
6  0.280210  0.718295  0.529035  0.324501
7  0.583824  0.295003  0.487167  0.676153
8  0.325317  0.619677  0.360045  0.191538
9  0.518607  0.907475  0.421842  0.545217

In [44]:
df2 = df > 0.1
print(df2)

       A     B      C      D
0   True  True   True   True
1   True  True   True  False
2  False  True  False   True
3   True  True  False   True
4   True  True   True   True
5   True  True   True  False
6   True  True   True   True
7   True  True   True   True
8   True  True   True   True
9   True  True   True   True

In [49]:
(df > 0.1).all()

A    False
B     True
C     True
dtype: bool

In [50]:
(df > 0.1).any()

A    True
B    True
C    True
dtype: bool

In [51]:
(df > 0.1).any().any()

True

In [52]:
df = pd.DataFrame(np.arange(9).reshape(3,3), columns = ['A','B','C'])
print(df)

   A  B  C
0  0  1  2
1  3  4  5
2  6  7  8

In [53]:
df2 = df.isin([0,3])
print(df2)

       A      B      C
0   True  False  False
1   True  False  False
2  False  False  False

In [54]:
print(df[df2])

     A   B   C
0  0.0 NaN NaN
1  3.0 NaN NaN
2  NaN NaN NaN

In [55]:
df2 = df[df.isin([0,3])].dropna(thresh=1).dropna(axis=1)
print(df2)

     A
0  0.0
1  3.0

# Editing

In [56]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], 
                     index=['a','b','c'], 
                     columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [57]:
df['D'] = 17 
print(df)

   A  B  C   D
a  1  2  3  17
b  4  5  6  17
c  7  8  9  17

In [58]:
df['D']

a    17
b    17
c    17
Name: D, dtype: int64

In [59]:
df['E'] = [13,14,15]
print(df)

   A  B  C   D   E
a  1  2  3  17  13
b  4  5  6  17  14
c  7  8  9  17  15

In [60]:
df['D'] = ['one','two', 'three']
print(df)

   A  B  C      D   E
a  1  2  3    one  13
b  4  5  6    two  14
c  7  8  9  three  15

In [61]:
sr = pd.Series([10,11,12],index=['a','b','c'])
df['D'] = sr 
print(df)

   A  B  C   D   E
a  1  2  3  10  13
b  4  5  6  11  14
c  7  8  9  12  15

In [62]:
del df['E']
print(df)

   A  B  C   D
a  1  2  3  10
b  4  5  6  11
c  7  8  9  12

In [63]:
sr = df.pop('D')  
print(type(sr))   
print(df)

<class 'pandas.core.series.Series'>
   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [64]:
df.insert(1, 'Z', sr) 
print(df)

   A   Z  B  C
a  1  10  2  3
b  4  11  5  6
c  7  12  8  9

In [65]:
df.insert(3, 'B2', df['B'])
print(df)

   A   Z  B  B2  C
a  1  10  2   2  3
b  4  11  5   5  6
c  7  12  8   8  9

In [66]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], 
                     index=['a','b','c'], 
                     columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [67]:
print(df['A'])

a    1
b    4
c    7
Name: A, dtype: int64

In [68]:
print(df.A)

a    1
b    4
c    7
Name: A, dtype: int64

In [69]:
t = df.loc['a']
print(type(t))

<class 'pandas.core.series.Series'>

In [70]:
df.loc['d'] = 12 
print(df)

    A   B   C
a   1   2   3
b   4   5   6
c   7   8   9
d  12  12  12

In [71]:
df.loc['d'] = 10 
print(df)

    A   B   C
a   1   2   3
b   4   5   6
c   7   8   9
d  10  10  10

In [72]:
df.loc['d'] = [10, 11, 12] 
print(df)

    A   B   C
a   1   2   3
b   4   5   6
c   7   8   9
d  10  11  12

In [73]:
sr = pd.Series([13,14,15], index=['A','B','C'], name="e") #aggiungi riga con series
df.loc['d'] = sr
print(df)

    A   B   C
a   1   2   3
b   4   5   6
c   7   8   9
d  13  14  15

In [74]:
del df.loc['d']

AttributeError: __delitem__

In [75]:
df2 = df.drop(['a'],axis=0) 
print(df2)

    A   B   C
b   4   5   6
c   7   8   9
d  13  14  15

In [76]:
df3 = df.drop(['A'],axis=1) 
print(df3)

    B   C
a   2   3
b   5   6
c   8   9
d  14  15

In [77]:
df2 = df.drop(['a','c'],axis=0) 
print(df2)

    A   B   C
b   4   5   6
d  13  14  15

In [78]:
df = df.drop(['a'],axis=0) 
print(df)

    A   B   C
b   4   5   6
c   7   8   9
d  13  14  15

In [79]:
df = pd.DataFrame(np.random.randint(1,10,9).reshape(3,3), 
                     index=['a','b','c'], 
                     columns=['A','B','C'])
print(df)

   A  B  C
a  8  9  4
b  5  6  8
c  8  9  3

In [80]:
df2 = df.assign(D = df['A']*2)
print(df2)

   A  B  C   D
a  8  9  4  16
b  5  6  8  10
c  8  9  3  16

In [81]:
df = df.assign(D = df['A']*2)
print(df)

   A  B  C   D
a  8  9  4  16
b  5  6  8  10
c  8  9  3  16

In [82]:
df = df.assign(D = np.sqrt(df['A']))
print(df)

   A  B  C         D
a  8  9  4  2.828427
b  5  6  8  2.236068
c  8  9  3  2.828427

In [83]:
df2 = df.assign(D = np.repeat(1,3))
print(df2)

   A  B  C  D
a  8  9  4  1
b  5  6  8  1
c  8  9  3  1

# Descriptive Statistics

In [84]:
df = pd.DataFrame(np.random.rand(40).reshape(10,4))
print(df)

          0         1         2         3
0  0.673244  0.978679  0.877820  0.752886
1  0.305652  0.303320  0.633705  0.575937
2  0.967124  0.856613  0.026782  0.501061
3  0.053046  0.864811  0.318213  0.977860
4  0.867881  0.173786  0.302295  0.710679
5  0.339930  0.134992  0.636692  0.129549
6  0.955246  0.420658  0.772436  0.700173
7  0.709897  0.952385  0.157090  0.156127
8  0.646787  0.391175  0.324365  0.066733
9  0.967914  0.622521  0.747837  0.508484

In [85]:
df.describe()

               0          1          2          3
count  10.000000  10.000000  10.000000  10.000000
mean    0.648672   0.569894   0.479724   0.507949
std     0.319284   0.326032   0.289702   0.302796
min     0.053046   0.134992   0.026782   0.066733
25%     0.416645   0.325283   0.306275   0.242360
50%     0.691571   0.521590   0.479035   0.542210
75%     0.933405   0.862761   0.720051   0.708053
max     0.967914   0.978679   0.877820   0.977860

In [86]:
df2 = pd.DataFrame([[1,'one', True],[2,'two',False],
                    [3,'three',True],[4,'four',False],[5,'five', False]], 
                   columns=['numb','word','bool'])
df2.describe()

           numb
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

In [87]:
df2[['word','bool']].describe()

       word   bool
count     5      5
unique    5      2
top     one  False
freq      1      3

In [88]:
df2.describe(include=['int'])

           numb
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

In [89]:
df.mean(0) #df.mean(axis=0) #df.mean()

0    0.648672
1    0.569894
2    0.479724
3    0.507949
dtype: float64

In [90]:
df.mean(1) #df.mean(axis=1)

0    0.820657
1    0.454654
2    0.587895
3    0.553482
4    0.513660
5    0.310291
6    0.712128
7    0.493875
8    0.357265
9    0.711689
dtype: float64

In [91]:
df.std()

0    0.319284
1    0.326032
2    0.289702
3    0.302796
dtype: float64

In [92]:
std = ( df - df.mean())/ df.std()
print(std.mean())
print(std.std())

0   -1.110223e-17
1    1.249001e-16
2    6.661338e-17
3   -2.236709e-16
dtype: float64
0    1.0
1    1.0
2    1.0
3    1.0
dtype: float64

# Trasposition, Sorting and Reindexing

In [93]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], 
                     index=['a','b','c'], 
                     columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [94]:
print(df.T)

   a  b  c
A  1  4  7
B  2  5  8
C  3  6  9

In [95]:
df = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['b','d','c','a'], 
                     columns=['C','D','A','B'])
print(df)

   C  D  A  B
b  4  5  4  8
d  9  5  8  5
c  8  3  2  5
a  5  5  3  2

In [96]:
df2 = df.sort_index()
print(df2)

   C  D  A  B
a  5  5  3  2
b  4  5  4  8
c  8  3  2  5
d  9  5  8  5

In [97]:
df2 = df.sort_index(ascending=False)
print(df2)

   C  D  A  B
d  9  5  8  5
c  8  3  2  5
b  4  5  4  8
a  5  5  3  2

In [98]:
df2 = df.sort_index(axis=1)
print(df2)

   A  B  C  D
b  4  8  4  5
d  8  5  9  5
c  2  5  8  3
a  3  2  5  5

In [99]:
df2 = df.sort_index(axis=1, ascending=False)
print(df2)

   D  C  B  A
b  5  4  8  4
d  5  9  5  8
c  3  8  5  2
a  5  5  2  3

In [100]:
df2 = df.sort_index(axis=0).sort_index(axis=1)
print(df2)

   A  B  C  D
a  3  2  5  5
b  4  8  4  5
c  2  5  8  3
d  8  5  9  5

In [101]:
df2 = df.sort_values(by='A')
print(df2)

   C  D  A  B
c  8  3  2  5
a  5  5  3  2
b  4  5  4  8
d  9  5  8  5

In [102]:
df['A'] = [0,0,2,2]
df2 = df.sort_values(by=['A','B'])
print(df2)

   C  D  A  B
d  9  5  0  5
b  4  5  0  8
a  5  5  2  2
c  8  3  2  5

In [118]:
df2 = df.sort_index(axis=0)
df2.loc['a','A'] = 0
print(df)
print(df2)

   C  D  A  B
b  6  6  5  3
d  8  8  6  7
c  8  7  6  7
a  9  0  4  5
   C  D  A  B
a  9  0  0  5
b  6  6  5  3
c  8  7  6  7
d  8  8  6  7

In [104]:
df = df.sort_values(by='A')
print(df)

   C  D  A  B
b  4  5  0  8
d  9  5  0  5
c  8  3  2  5
a  5  5  2  2

# Reindexing

In [105]:
df = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['b','d','c','a'], 
                     columns=['C','D','A','B'])
print(df)

   C  D  A  B
b  6  6  5  3
d  8  8  6  7
c  8  7  6  7
a  9  0  4  5

In [106]:
df2 = df.reindex(['a','b','c','d'],axis=0)
print(df2)

   C  D  A  B
a  9  0  4  5
b  6  6  5  3
c  8  7  6  7
d  8  8  6  7

In [107]:
df2.iloc[1,1] = 0
print(df2)
print(df)

   C  D  A  B
a  9  0  4  5
b  6  0  5  3
c  8  7  6  7
d  8  8  6  7
   C  D  A  B
b  6  6  5  3
d  8  8  6  7
c  8  7  6  7
a  9  0  4  5

In [108]:
df2 = df.reindex(['A','B','C','D'],axis=1)
print(df2)

   A  B  C  D
b  5  3  6  6
d  6  7  8  8
c  6  7  8  7
a  4  5  9  0

In [109]:
df2 = df.reindex(['A','E','C','D',],axis=1)
print(df2)

   A   E  C  D
b  5 NaN  6  6
d  6 NaN  8  8
c  6 NaN  8  7
a  4 NaN  9  0

In [110]:
dfo = pd.DataFrame(np.zeros(16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
print(dfo)

     A    B    C    D
a  0.0  0.0  0.0  0.0
b  0.0  0.0  0.0  0.0
c  0.0  0.0  0.0  0.0
d  0.0  0.0  0.0  0.0

In [111]:
df2 = df.reindex_like(dfo)
print(df2)

   A  B  C  D
a  4  5  9  0
b  5  3  6  6
c  6  7  8  7
d  6  7  8  8

In [112]:
dfo = pd.DataFrame(np.zeros(16).reshape(4,4), 
                     index=['a','b','c','e'], 
                     columns=['A','B','W','Z'])
print(dfo)

     A    B    W    Z
a  0.0  0.0  0.0  0.0
b  0.0  0.0  0.0  0.0
c  0.0  0.0  0.0  0.0
e  0.0  0.0  0.0  0.0

In [113]:
df2 = df.reindex_like(dfo)
print(df2)

     A    B   W   Z
a  4.0  5.0 NaN NaN
b  5.0  3.0 NaN NaN
c  6.0  7.0 NaN NaN
e  NaN  NaN NaN NaN