In [2]:
import numpy as np
import pandas as pd

# Adding data to a DataFrame

In [3]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
print(df1)

   A  B  C  D
a  1  3  9  1
b  8  7  1  6
c  6  0  6  3
d  6  3  0  8

In [4]:
df2 = pd.DataFrame(np.zeros(16).reshape(4,4), 
                     index=['e','f','g','h'], 
                     columns=['A','B','C','D'])
print(df2)

     A    B    C    D
e  0.0  0.0  0.0  0.0
f  0.0  0.0  0.0  0.0
g  0.0  0.0  0.0  0.0
h  0.0  0.0  0.0  0.0

## append()

In [5]:
df = df1.append(df2)
print(df)

     A    B    C    D
a  1.0  3.0  9.0  1.0
b  8.0  7.0  1.0  6.0
c  6.0  0.0  6.0  3.0
d  6.0  3.0  0.0  8.0
e  0.0  0.0  0.0  0.0
f  0.0  0.0  0.0  0.0
g  0.0  0.0  0.0  0.0
h  0.0  0.0  0.0  0.0

In [62]:
ser = pd.Series([7,7,7,7], index=['A','B','C','D'])
print(ser)

A    7
B    7
C    7
D    7
dtype: int64

In [29]:
df1.append(ser)

TypeError: Can only append a Series if ignore_index=True or if the Series has a name

In [63]:
df2 = df1.append(ser,ignore_index=True)
print(df2)

   A  B  C  D
0  0  8  5  0
1  3  4  1  7
2  7  8  2  8
3  6  7  1  4
4  7  7  7  7

In [64]:
ser = pd.Series([7,7,7,7], index=['A','B','C','D'], name='e')
print(ser)

A    7
B    7
C    7
D    7
Name: e, dtype: int64

In [65]:
df2 = df1.append(ser)   # df1.append(ser,ignore_index=False)
print(df2)

   A  B  C  D
a  0  8  5  0
b  3  4  1  7
c  7  8  2  8
d  6  7  1  4
e  7  7  7  7

In [66]:
ser.name = 'z'
df2 = df1.append(ser)
print(df2)

   A  B  C  D
a  0  8  5  0
b  3  4  1  7
c  7  8  2  8
d  6  7  1  4
z  7  7  7  7

In [67]:
df2 = df1.append([ser,ser+1,ser+2])
print(df2)

   A  B  C  D
a  0  8  5  0
b  3  4  1  7
c  7  8  2  8
d  6  7  1  4
z  7  7  7  7
z  8  8  8  8
z  9  9  9  9

## concat()

In [68]:
df = pd.concat([df1,df2])
print(df)

   A  B  C  D
a  0  8  5  0
b  3  4  1  7
c  7  8  2  8
d  6  7  1  4
a  0  8  5  0
b  3  4  1  7
c  7  8  2  8
d  6  7  1  4
z  7  7  7  7
z  8  8  8  8
z  9  9  9  9

In [69]:
df = pd.concat([df1,df2,df1])
print(df)

   A  B  C  D
a  0  8  5  0
b  3  4  1  7
c  7  8  2  8
d  6  7  1  4
a  0  8  5  0
b  3  4  1  7
c  7  8  2  8
d  6  7  1  4
z  7  7  7  7
z  8  8  8  8
z  9  9  9  9
a  0  8  5  0
b  3  4  1  7
c  7  8  2  8
d  6  7  1  4

In [70]:
ser = pd.Series([7,7,7,7], index=['a','b','c','d'], name='E')
print(ser)

a    7
b    7
c    7
d    7
Name: E, dtype: int64

In [71]:
df = pd.concat([df1,ser],axis=1)
print(df)

   A  B  C  D  E
a  0  8  5  0  7
b  3  4  1  7  7
c  7  8  2  8  7
d  6  7  1  4  7

In [72]:
ser = pd.Series([7,7,7,7,7], index=['a','c','d','e','f'], name='E')
df = pd.concat([df1,ser],axis=1)
print(df)

     A    B    C    D    E
a  0.0  8.0  5.0  0.0  7.0
b  3.0  4.0  1.0  7.0  NaN
c  7.0  8.0  2.0  8.0  7.0
d  6.0  7.0  1.0  4.0  7.0
e  NaN  NaN  NaN  NaN  7.0
f  NaN  NaN  NaN  NaN  7.0

In [73]:
ser = pd.Series([7,7,7,7,7], index=['a','c','d','e','f'], name='E')
df = pd.concat([df1,ser],axis=1,join='inner')
print(df)

   A  B  C  D  E
a  0  8  5  0  7
c  7  8  2  8  7
d  6  7  1  4  7

In [74]:
ser = pd.Series([7,7,7,7], index=['a','b','c','d'], name='E')
ser2 = ser + 1
ser3 = ser + 2
df = pd.concat([df1,ser,ser2,ser3,df1],axis=1)
print(df)

   A  B  C  D  E  E  E  A  B  C  D
a  0  8  5  0  7  8  9  0  8  5  0
b  3  4  1  7  7  8  9  3  4  1  7
c  7  8  2  8  7  8  9  7  8  2  8
d  6  7  1  4  7  8  9  6  7  1  4

## Merge

In [75]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['b','c','d','e'], 
                     columns=['B','C','D','E'])
print(df1)
print(df2)

   A  B  C  D
a  1  7  9  4
b  2  5  8  8
c  5  2  6  2
d  5  0  1  6
   B  C  D  E
b  7  9  4  1
c  2  2  5  8
d  6  8  7  2
e  2  3  6  0

In [76]:
df = pd.merge(df1,df2, on = 'B', how='left')
print(df)

   A  B  C_x  D_x  C_y  D_y    E
0  1  7    9    4  9.0  4.0  1.0
1  2  5    8    8  NaN  NaN  NaN
2  5  2    6    2  2.0  5.0  8.0
3  5  2    6    2  3.0  6.0  0.0
4  5  0    1    6  NaN  NaN  NaN

Utilizzando invece una logica RIGHT sul joining si ottiene il risultato perfettamente opposto a quello precedente.

In [77]:
df = pd.merge(df1,df2, on = 'B', how='right')
print(df)

     A  B  C_x  D_x  C_y  D_y  E
0  1.0  7  9.0  4.0    9    4  1
1  5.0  2  6.0  2.0    2    5  8
2  NaN  6  NaN  NaN    8    7  2
3  5.0  2  6.0  2.0    3    6  0

In [78]:
df = pd.merge(df1,df2, on = 'B', how='outer')
print(df)

     A  B  C_x  D_x  C_y  D_y    E
0  1.0  7  9.0  4.0  9.0  4.0  1.0
1  2.0  5  8.0  8.0  NaN  NaN  NaN
2  5.0  2  6.0  2.0  2.0  5.0  8.0
3  5.0  2  6.0  2.0  3.0  6.0  0.0
4  5.0  0  1.0  6.0  NaN  NaN  NaN
5  NaN  6  NaN  NaN  8.0  7.0  2.0

In [79]:
df = pd.merge(df1,df2, on = 'B', how='inner')
print(df)

   A  B  C_x  D_x  C_y  D_y  E
0  1  7    9    4    9    4  1
1  5  2    6    2    2    5  8
2  5  2    6    2    3    6  0

In [80]:
df = pd.merge(df1,df2, on = 'B')
print(df)

   A  B  C_x  D_x  C_y  D_y  E
0  1  7    9    4    9    4  1
1  5  2    6    2    2    5  8
2  5  2    6    2    3    6  0

# Arithmetic with DataFrames

In [81]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
print(df1)

   A  B  C  D
a  0  1  7  3
b  4  4  5  0
c  5  2  7  2
d  9  9  7  1

In [82]:
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
print(df2)

   A  B  C  D
a  4  5  2  1
b  2  2  3  9
c  9  9  8  2
d  6  5  4  4

In [83]:
print(df1 + df2)

    A   B   C  D
a   4   6   9  4
b   6   6   8  9
c  14  11  15  4
d  15  14  11  5

In [84]:
print(df1 - 2*df2)

    A   B  C   D
a  -8  -9  3   1
b   0   0 -1 -18
c -13 -16 -9  -2
d  -3  -1 -1  -7

In [85]:
print(df1 > df2)

       A      B      C      D
a  False  False   True   True
b   True   True   True  False
c  False  False  False  False
d   True   True   True  False

In [87]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['B','C','D','E'])
print(df1)
print(df2)

   A  B  C  D
a  7  8  8  8
b  8  7  5  1
c  8  4  8  5
d  6  7  7  9
   B  C  D  E
a  4  1  4  1
b  2  9  0  0
c  2  0  0  6
d  7  5  4  7

In [88]:
print(df1 + df2)

    A   B   C   D   E
a NaN  12   9  12 NaN
b NaN   9  14   1 NaN
c NaN   6   8   5 NaN
d NaN  14  12  13 NaN

In [91]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['b','c','d','e'], 
                     columns=['A','B','C','D'])
print(df1)
print(df2)

   A  B  C  D
a  2  7  6  9
b  7  0  7  6
c  2  6  4  8
d  3  6  2  7
   A  B  C  D
b  1  2  6  8
c  3  4  1  6
d  2  5  5  1
e  0  1  5  2

In [92]:
print(df1 + df2)

     A     B     C     D
a  NaN   NaN   NaN   NaN
b  8.0   2.0  13.0  14.0
c  5.0  10.0   5.0  14.0
d  5.0  11.0   7.0   8.0
e  NaN   NaN   NaN   NaN

In [93]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
ser = pd.Series(np.random.randint(10, size=4), 
                     index=['A','B','C','D'])
print(df1)
print(ser)

   A  B  C  D
a  4  7  9  6
b  1  3  1  2
c  8  9  4  3
d  5  0  2  1
A    2
B    0
C    8
D    2
dtype: int32

In [94]:
print(df1 + ser)

    A  B   C  D
a   6  7  17  8
b   3  3   9  4
c  10  9  12  5
d   7  0  10  3

In [95]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
ser = pd.Series(np.random.randint(10, size=4), 
                     index=['B','C','D','E'])
print(df1)
print(ser)

   A  B  C  D
a  0  3  2  3
b  6  0  1  8
c  8  2  2  3
d  5  1  8  9
B    3
C    4
D    0
E    5
dtype: int32

In [96]:
print(df1 + ser)

    A    B     C    D   E
a NaN  6.0   6.0  3.0 NaN
b NaN  3.0   5.0  8.0 NaN
c NaN  5.0   6.0  3.0 NaN
d NaN  4.0  12.0  9.0 NaN

# Flexible binary arithmetic methods

In [98]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['b','c','d','e'], 
                     columns=['A','B','C','D'])
print(df1)
print(df2)

   A  B  C  D
a  5  9  5  4
b  9  5  8  6
c  8  7  7  1
d  9  2  4  0
   A  B  C  D
b  2  4  3  7
c  2  1  8  8
d  6  1  9  3
e  7  0  0  9

In [99]:
df = df1.add(df2)
print(df)

      A    B     C     D
a   NaN  NaN   NaN   NaN
b  11.0  9.0  11.0  13.0
c  10.0  8.0  15.0   9.0
d  15.0  3.0  13.0   3.0
e   NaN  NaN   NaN   NaN

In [100]:
df = df1 + df2  
print(df)

      A    B     C     D
a   NaN  NaN   NaN   NaN
b  11.0  9.0  11.0  13.0
c  10.0  8.0  15.0   9.0
d  15.0  3.0  13.0   3.0
e   NaN  NaN   NaN   NaN

In [45]:
ser = pd.Series([1,1,1,1],index=['A','B','C','D'])
print(ser)

A    1
B    1
C    1
D    1
dtype: int64

In [101]:
df = df1.add(ser)
print(df)

    A     B     C    D   E
a NaN  12.0   9.0  4.0 NaN
b NaN   8.0  12.0  6.0 NaN
c NaN  10.0  11.0  1.0 NaN
d NaN   5.0   8.0  0.0 NaN

In [102]:
df = df1 + ser
print(df)

    A     B     C    D   E
a NaN  12.0   9.0  4.0 NaN
b NaN   8.0  12.0  6.0 NaN
c NaN  10.0  11.0  1.0 NaN
d NaN   5.0   8.0  0.0 NaN

In [103]:
ser = pd.Series([1,2,3,4], index=['a','b','c','d'])

df = df1.add(ser, axis=0) # df.add(df2, axis='index')
print(df)

    A   B   C  D
a   6  10   6  5
b  11   7  10  8
c  11  10  10  4
d  13   6   8  4

In [106]:
df = df1 + ser
print(df)

    A   B   C   D   a   b   c   d
a NaN NaN NaN NaN NaN NaN NaN NaN
b NaN NaN NaN NaN NaN NaN NaN NaN
c NaN NaN NaN NaN NaN NaN NaN NaN
d NaN NaN NaN NaN NaN NaN NaN NaN

In [107]:
tuples = [('x', 'a'), ('x', 'b'), ('y', 'a'), ('y', 'b')]
index = pd.MultiIndex.from_tuples(tuples, names=['first','second'])
tuples = [('X', 'A'), ('X', 'B'), ('Y', 'A'), ('Y', 'B')]
columns = pd.MultiIndex.from_tuples(tuples, names=['high','low'])
dfm = pd.DataFrame(np.arange(1,17).reshape(4,4) , index = index, columns = columns)
print(dfm)

high           X       Y
low            A   B   A   B
first second
x     a        1   2   3   4
      b        5   6   7   8
y     a        9  10  11  12
      b       13  14  15  16

In [108]:
ser = pd.Series([10,20], index=['A','B'])
df = dfm.sub(ser, level='low')
print(df)

high          X      Y
low           A   B  A   B
first second
x     a      -9 -18 -7 -16
      b      -5 -14 -3 -12
y     a      -1 -10  1  -8
      b       3  -6  5  -4

In [109]:
ser = pd.Series([10,20], index=['X','Y'])
df = dfm.sub(ser, level='high')
print(df)

high          X      Y
low           A  B   A   B
first second
x     a      -9 -8 -17 -16
      b      -5 -4 -13 -12
y     a      -1  0  -9  -8
      b       3  4  -5  -4

In [110]:
ser = pd.Series([10,20], index=['a','b'])
df = dfm.sub(ser, level='second',axis=0)
print(df)

high           X       Y
low            A   B   A   B
first second
x     a       -9  -8  -7  -6
      b      -15 -14 -13 -12
y     a       -1   0   1   2
      b       -7  -6  -5  -4

In [111]:
ser = pd.Series([10,20], index=['x','y'])
df = dfm.sub(ser, level='first',axis=0)
print(df)

high           X      Y
low            A   B  A  B
first second
x     a       -9  -8 -7 -6
      b       -5  -4 -3 -2
y     a      -11 -10 -9 -8
      b       -7  -6 -5 -4

In [112]:
df3 = pd.DataFrame(np.random.randint(10, size=4).reshape(2,2), 
                     index=['a','b'], 
                     columns=['A','B'])
print(df3)

   A  B
a  5  0
b  4  1

In [113]:
df= dfm.add(df3, axis=1, level=1)
print(df)

high           X       Y
low            A   B   A   B
first second
x     a        6   2   8   4
      b        9   7  11   9
y     a       14  10  16  12
      b       17  15  19  17

In [115]:
row = df1.iloc[0]
print(row)
column = df1['A']
print(column)

A    5
B    9
C    5
D    4
Name: a, dtype: int32
a    5
b    9
c    8
d    9
Name: A, dtype: int32

In [116]:
df = df1.mul(column, axis=0)
print(df)

    A   B   C   D
a  25  45  25  20
b  81  45  72  54
c  64  56  56   8
d  81  18  36   0

In [117]:
df = df1.mul(row, axis=1)
print(df)

    A   B   C   D
a  25  81  25  16
b  45  45  40  24
c  40  63  35   4
d  45  18  20   0

In [118]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['b','c','d','e'], 
                     columns=['A','B','C','D'])
print(df1)
print(df2)

column = df2['A']
print(column)

   A  B  C  D
a  0  6  8  0
b  2  1  6  5
c  7  2  7  0
d  3  5  3  2
   A  B  C  D
b  7  0  5  4
c  1  8  3  2
d  2  5  2  1
e  9  6  6  2
b    7
c    1
d    2
e    9
Name: A, dtype: int32

In [119]:
df = df1.loc['b':'d',['A','B']]
print(df)

   A  B
b  2  1
c  7  2
d  3  5

In [120]:
df = df2.loc['b':'d',['A','B']].mul(column, axis=0)
print(df)

      A     B
b  49.0   0.0
c   1.0   8.0
d   4.0  10.0
e   NaN   NaN

## The relative binary methods

In [121]:
# Operazioni binarie relative

print(df / 1)
print(df.div(1))

      A     B
b  49.0   0.0
c   1.0   8.0
d   4.0  10.0
e   NaN   NaN
      A     B
b  49.0   0.0
c   1.0   8.0
d   4.0  10.0
e   NaN   NaN

In [122]:
print(1 / df)
print(df.rdiv(1))

          A      B
b  0.020408    inf
c  1.000000  0.125
d  0.250000  0.100
e       NaN    NaN
          A      B
b  0.020408    inf
c  1.000000  0.125
d  0.250000  0.100
e       NaN    NaN

## Boolean operations

In [123]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','C','D'])
print(df1)
print(df2)

   A  B  C  D
a  1  9  2  8
b  2  4  7  8
c  1  3  4  7
d  1  4  5  1
   A  B  C  D
a  0  8  1  5
b  3  7  1  8
c  1  5  7  2
d  7  0  3  1

In [124]:
print(df1 > df2)

       A      B      C      D
a   True   True   True   True
b  False  False   True  False
c  False  False  False   True
d  False   True   True  False

In [125]:
df = df1[df1 > df2]
print(df)

     A    B    C    D
a  1.0  9.0  2.0  8.0
b  NaN  NaN  7.0  NaN
c  NaN  NaN  NaN  7.0
d  NaN  4.0  5.0  NaN

In [126]:
df = df1.lt(df2) # df1 > df2 
print(df)

       A      B      C      D
a  False  False  False  False
b   True   True  False  False
c  False   True   True  False
d   True  False  False  False

In [127]:
df = df1.lt(df2['A'], axis=0)
print(df)

       A      B      C      D
a  False  False  False  False
b   True  False  False  False
c  False  False  False  False
d   True   True   True   True

# Aligning

In [6]:
df1 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['a','b','c','d'], 
                     columns=['A','B','D','E'])
df2 = pd.DataFrame(np.random.randint(10, size=16).reshape(4,4), 
                     index=['b','c','d','e'], 
                     columns=['A','C','D','E'])
print(df1)
print(df2)

   A  B  D  E
a  6  5  9  2
b  8  0  4  0
c  8  6  5  5
d  2  1  3  3
   A  C  D  E
b  1  6  8  8
c  2  2  0  7
d  8  6  5  5
e  6  3  0  1

In [130]:
df1n, df2n = df1.align(df2)
print(df1n)
print(df2n)

     A    B   C    D    E
a  2.0  3.0 NaN  6.0  3.0
b  9.0  3.0 NaN  2.0  9.0
c  1.0  2.0 NaN  1.0  4.0
d  5.0  3.0 NaN  9.0  7.0
e  NaN  NaN NaN  NaN  NaN
     A   B    C    D    E
a  NaN NaN  NaN  NaN  NaN
b  5.0 NaN  0.0  9.0  9.0
c  6.0 NaN  4.0  2.0  4.0
d  8.0 NaN  0.0  3.0  5.0
e  6.0 NaN  0.0  7.0  4.0

In [131]:
df1n, df2n = df1.align(df2, join='inner')
print(df1n)
print(df2n)

   A  D  E
b  9  2  9
c  1  1  4
d  5  9  7
   A  D  E
b  5  9  9
c  6  2  4
d  8  3  5

In [132]:
df1n , df2n = df1.align(df2, join='left')
print(df1n)
print(df2n)

   A  B  D  E
a  2  3  6  3
b  9  3  2  9
c  1  2  1  4
d  5  3  9  7
     A   B    D    E
a  NaN NaN  NaN  NaN
b  5.0 NaN  9.0  9.0
c  6.0 NaN  2.0  4.0
d  8.0 NaN  3.0  5.0

In [134]:
df1n , df2n = df1.align(df2, join='right')
print(df1n)
print(df2n)

     A   C    D    E
b  9.0 NaN  2.0  9.0
c  1.0 NaN  1.0  4.0
d  5.0 NaN  9.0  7.0
e  NaN NaN  NaN  NaN
   A  C  D  E
b  5  0  9  9
c  6  4  2  4
d  8  0  3  5
e  6  0  7  4