In [1]:
import numpy as np
import pandas as pd

# Shifting

In [7]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3),
                  index=['a','b','c'],
                  columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [8]:
df2 = df.shift(1)
print(df2)

     A    B    C
a  NaN  NaN  NaN
b  1.0  2.0  3.0
c  4.0  5.0  6.0

In [9]:
df2 = df.shift(1, fill_value=0)
print(df2)

   A  B  C
a  0  0  0
b  1  2  3
c  4  5  6

In [11]:
df2 = df.shift(1)
df2.iloc[0] = df.iloc[2]
print(df2)

     A    B    C
a  7.0  8.0  9.0
b  1.0  2.0  3.0
c  4.0  5.0  6.0

In [13]:
df2 = df.shift(1)
df2 = df2.drop(['a'])
print(df2)

     A    B    C
b  1.0  2.0  3.0
c  4.0  5.0  6.0

In [14]:
df2 = df.shift(-2)
print(df2)

     A    B    C
a  7.0  8.0  9.0
b  NaN  NaN  NaN
c  NaN  NaN  NaN

In [15]:
df2 = df.shift(1, axis=1)
print(df2)

    A  B  C
a NaN  1  2
b NaN  4  5
c NaN  7  8

In [16]:
df2 = df.shift(-1, axis=1)
print(df2)

   A  B   C
a  2  3 NaN
b  5  6 NaN
c  8  9 NaN

# Reshape

In [2]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3),
                index=['a','b','c'],
                columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [3]:
dfs = df.stack()
print(dfs)

a  A    1
   B    2
   C    3
b  A    4
   B    5
   C    6
c  A    7
   B    8
   C    9
dtype: int32

In [4]:
print(dfs.unstack())

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [6]:
index = pd.MultiIndex.from_tuples([('x','a'),
                                   ('x','b'),
                                   ('y','a'),
                                   ('y','b')])
columns = pd.MultiIndex.from_tuples([('X','A'),
                                     ('X','B'),
                                     ('Y','A'),
                                     ('Y','B')])
dfm = pd.DataFrame(np.arange(1,17).reshape(4,4),
                     index=index,
                     columns=columns)
print(dfm)

      X       Y
      A   B   A   B
x a   1   2   3   4
  b   5   6   7   8
y a   9  10  11  12
  b  13  14  15  16

In [7]:
print(dfm.stack(0)) # print(dfm.stack(level=0))

        A   B
x a X   1   2
    Y   3   4
  b X   5   6
    Y   7   8
y a X   9  10
    Y  11  12
  b X  13  14
    Y  15  16

In [8]:
print(dfm.unstack(0)) #print(dfm.stack(level=0))

   X             Y
   A      B      A      B
   x   y  x   y  x   y  x   y
a  1   9  2  10  3  11  4  12
b  5  13  6  14  7  15  8  16

## Pivoting

In [3]:
df = pd.DataFrame([['red','x',1,1],
                   ['red','x',0,1],
                   ['black','y',0,2],
                   ['red','y',1,0],
                   ['red','y',2,0],
                   ['black','x',2,1]],
                  columns=['A','B','C','D'])
print(df)

       A  B  C  D
0    red  x  1  1
1    red  x  0  1
2  black  y  0  2
3    red  y  1  0
4    red  y  2  0
5  black  x  2  1

In [4]:
table = pd.pivot_table(df, values=['C','D'],
                       index=['A'],
                       columns=['B'],
                       aggfunc=np.sum)
print(table)

       C     D
B      x  y  x  y
A
black  2  0  1  2
red    1  3  2  0

In [5]:
table = pd.pivot_table(df, values=['C','D'],
                       index=['A'],
                       columns=['B'],
                       aggfunc={'C': np.sum,
                                'D': [min, max, np.mean]})
print(table)

        C       D
      sum     max      mean       min
B       x  y    x    y    x    y    x    y
A
black   2  0  1.0  2.0  1.0  2.0  1.0  2.0
red     1  3  1.0  0.0  1.0  0.0  1.0  0.0

# Iteration

In [7]:
ser = pd.Series(np.arange(1,12))
print(ser)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
dtype: int32

In [10]:
for i in ser:
    print(i, ' ', np.sqrt(i))

1   1.0
2   1.4142135623730951
3   1.7320508075688772
4   2.0
5   2.23606797749979
6   2.449489742783178
7   2.6457513110645907
8   2.8284271247461903
9   3.0
10   3.1622776601683795
11   3.3166247903554

In [12]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3),
                 index=['a','b','c'],
                 columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [16]:
for i in df:
    print(i)

A
B
C

In [15]:
for i in df:
    print(df[i])

a    1
b    4
c    7
Name: A, dtype: int32
a    2
b    5
c    8
Name: B, dtype: int32
a    3
b    6
c    9
Name: C, dtype: int32

In [17]:
for i in df:
    for j in df[i]:
        print(j)

1
4
7
2
5
8
3
6
9

In [18]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3),
                 index=['a','b','c'],
                 columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [19]:
for label, ser in df.items():
    print(label)
    print(ser)

A
a    1
b    4
c    7
Name: A, dtype: int32
B
a    2
b    5
c    8
Name: B, dtype: int32
C
a    3
b    6
c    9
Name: C, dtype: int32

In [20]:
for index, row in df.iterrows():
    print(index)
    print(row)

a
A    1
B    2
C    3
Name: a, dtype: int32
b
A    4
B    5
C    6
Name: b, dtype: int32
c
A    7
B    8
C    9
Name: c, dtype: int32

In [28]:
for row in df.itertuples():
    print(row)
    print(row.A)
    print(row.B)
    print(row.C)  
    print(row.Index)

Pandas(Index='a', A=1, B=2, C=3)
1
2
3
a
Pandas(Index='b', A=4, B=5, C=6)
4
5
6
b
Pandas(Index='c', A=7, B=8, C=9)
7
8
9
c

# Apply Functions on a Dataframe

In [14]:
df = pd.DataFrame(np.random.rand(16).reshape(4,4),
                  index=['a','b','c','d'],
                  columns=['A','B','C','D'])
print(df)

          A         B         C         D
a  0.043123  0.571331  0.540262  0.535363
b  0.963704  0.952495  0.306369  0.529315
c  0.388860  0.417357  0.610182  0.765126
d  0.965486  0.876697  0.910901  0.179562

In [15]:
df2 = np.exp(df)
print(df2)

          A         B         C         D
a  1.044066  1.770621  1.716456  1.708069
b  2.621387  2.592169  1.358483  1.697768
c  1.475298  1.517944  1.840766  2.149266
d  2.626062  2.402950  2.486562  1.196693

In [13]:
type(df2)

pandas.core.frame.DataFrame

In [16]:
np.asarray(df2)

array([[0.04312318, 0.5713306 , 0.54026152, 0.53536327],
       [0.96370368, 0.95249482, 0.30636858, 0.52931453],
       [0.38886004, 0.4173568 , 0.61018159, 0.76512622],
       [0.96548556, 0.87669694, 0.9109011 , 0.17956181]])

In [18]:
np.max(df)

A    0.965486
B    0.952495
C    0.910901
D    0.765126
dtype: float64

In [19]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], 
                     index=['a','b','c'], 
                     columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [5]:
df.apply(np.sum)

A    12
B    15
C    18
dtype: int64

In [12]:
df.apply(np.sum, axis=1)

a     6
b    15
c    24
dtype: int64

In [20]:
df2 = df.apply(np.sqrt)
print(df2)

          A         B         C
a  1.000000  1.414214  1.732051
b  2.000000  2.236068  2.449490
c  2.645751  2.828427  3.000000

In [21]:
def dubble_up(x):
    return x * 2

df2 = df.apply(dubble_up)
print(df2)

    A   B   C
a   2   4   6
b   8  10  12
c  14  16  18

In [30]:
df.apply(lambda x: x.max() - x.min())

A    6
B    6
C    6
dtype: int64

In [31]:
df.apply(lambda x: x.max() - x.min(), axis=1)

a    2
b    2
c    2
dtype: int64

In [22]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], 
                     index=['a','b','c'], 
                     columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [35]:
def maximus(x):
    return np.max(np.max(x))

In [36]:
df.pipe(maximus)

9

In [39]:
df.apply(maximus)

A    7
B    8
C    9
dtype: int32

In [43]:
df.pipe(np.max).pipe(np.max)

9

In [44]:
step1 = df.pipe(np.max)
print(step1)
step2 = step1.pipe(np.max)
print(step2)

A    7
B    8
C    9
dtype: int64
9

In [45]:
def dubble_up(x):
    return x * 2

df.pipe(dubble_up).pipe(np.mean).pipe(lambda x: x-2)

A     6.0
B     8.0
C    10.0
dtype: float64

In [46]:
df.apply(dubble_up).apply(np.mean).apply(lambda x: x-2)

A     6.0
B     8.0
C    10.0
dtype: float64

In [24]:
def adder(a, b):
    return a + b

In [25]:
df2 = df.pipe(adder, 2)
print(df2)

   A   B   C
a  3   4   5
b  6   7   8
c  9  10  11

In [ ]:
print(df)
df2 = pd.DataFrame(np.repeat(1,9).reshape(3,3), 
                      index=['a','b','c'], 
                      columns=['A','B','C'])
print(df2)
df3 = df.pipe(adder, df2)
print(df3)

In [28]:
df2 = df.applymap(dubble_up)
print(df2)

    A   B   C
a   2   4   6
b   8  10  12
c  14  16  18

In [7]:
ser = pd.Series([1,3,5,7,9,11])
ser.map(dubble_up)

0     2
1     6
2    10
3    14
4    18
5    22
dtype: int64

# Transform

In [30]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3),
                 index=['a','b','c'],
                 columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [71]:
def double(x):
    return x*2

df2 = df.transform(double)  
print(df2)

    A   B   C
a   2   4   6
b   8  10  12
c  14  16  18

In [72]:
df2 = df.apply(double)
print(df2)

    A   B   C
a   2   4   6
b   8  10  12
c  14  16  18

In [84]:
multidf = df.transform([np.sqrt, double])
print(multidf)

          A                B                C
       sqrt double      sqrt double      sqrt double
a  1.000000      2  1.414214      4  1.732051      6
b  2.000000      8  2.236068     10  2.449490     12
c  2.645751     14  2.828427     16  3.000000     18

In [113]:
idx = pd.IndexSlice
dfn = multidf.loc[idx[:], idx[:, 'double']]

dfn.columns = dfn.columns.droplevel(1)
print(dfn)

    A   B   C
a   2   4   6
b   8  10  12
c  14  16  18

In [29]:
df2 = df.transform({
    'A': np.sqrt,
    'B': np.double,
})
print(df2)

          A    B
a  1.000000  2.0
b  2.000000  5.0
c  2.645751  8.0

In [77]:
df.transform(np.sum)

ValueError: Function did not transform

In [78]:
df.apply(sum)

A    12
B    15
C    18
dtype: int64

In [80]:
def adding(x):
    return x[0] + x[1]

df.apply(adding, axis=1)

a     3
b     9
c    15
dtype: int32

In [81]:
# Getting error when trying the same with transform
df.transform(subtract_two, axis=1)

ValueError: Function did not transform

# Aggregation

In [148]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3),
                 index=['a','b','c'],
                 columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [149]:
df.agg(np.sum)

A    12
B    15
C    18
dtype: int64

In [150]:
multidf = df.agg([np.sqrt, double])
print(multidf)

          A                B                C
       sqrt double      sqrt double      sqrt double
a  1.000000      2  1.414214      4  1.732051      6
b  2.000000      8  2.236068     10  2.449490     12
c  2.645751     14  2.828427     16  3.000000     18

In [30]:
df2 = df.agg({
    'A': np.sqrt,
    'B': np.double,
})
print(df2)

          A    B
a  1.000000  2.0
b  2.000000  5.0
c  2.645751  8.0

In [153]:
df.agg(np.sum)

A    12
B    15
C    18
dtype: int64

In [154]:
df = df.agg([np.mean, np.sum])
print(multidf)

         A     B     C
mean   4.0   5.0   6.0
sum   12.0  15.0  18.0

In [31]:
df2 = df.agg({
    'A': np.mean,
    'B': np.sum,
})
print(df2)

A     4.0
B    15.0
dtype: float64

In [155]:
df = df.agg([np.mean, np.sum, np.sqrt])
print(multidf)

ValueError: cannot combine transform and aggregation operations

# Grouping

In [33]:
df = pd.DataFrame(np.random.randint(1,5,18).reshape(6,3),
                 index=['a','b','c','a','b','c'],
                 columns=['A','B','C'])
print(df.sort_values(by=['A']))

   A  B  C
a  1  2  3
c  1  4  2
b  2  4  4
a  3  1  1
b  3  1  4
c  4  3  4

In [3]:
df.groupby(by='A')

In [34]:
for name, group in df.groupby(by='A'):
    print(name)
    print(group)

1
   A  B  C
a  1  2  3
c  1  4  2
2
   A  B  C
b  2  4  4
3
   A  B  C
a  3  1  1
b  3  1  4
4
   A  B  C
c  4  3  4

In [35]:
df2 = df.groupby(by='A').count()
print(df2)

   B  C
A
1  2  2
2  1  1
3  2  2
4  1  1

In [36]:
df2 = df.groupby(by='A').sum()
print(df2)

   B  C
A
1  6  5
2  4  4
3  2  5
4  3  4

In [37]:
dfg = df.groupby(by='A').max()
print(dfg)

   B  C
A
1  4  3
2  4  4
3  1  4
4  3  4

In [41]:
tuples = [('x', 'a'), ('x', 'b'), ('y', 'a'), ('y', 'b')]
index = pd.MultiIndex.from_tuples(tuples, names=['first','second'])
tuples = [('X', 'A'), ('X', 'B'), ('Y', 'A'), ('Y', 'B')]
columns = pd.MultiIndex.from_tuples(tuples, names=['high','low'])
dfm = pd.DataFrame(np.arange(1,17).reshape(4,4) , index = index, columns = columns)
print(dfm)

high           X       Y
low            A   B   A   B
first second
x     a        1   2   3   4
      b        5   6   7   8
y     a        9  10  11  12
      b       13  14  15  16

In [42]:
df2 = dfm.groupby(level=0).max()
print(df2)

high    X       Y
low     A   B   A   B
first
x       5   6   7   8
y      13  14  15  16

In [45]:
df2 = dfm.groupby(level=1).max()
print(df2)

high     X       Y
low      A   B   A   B
second
a        9  10  11  12
b       13  14  15  16

In [47]:
df2 = dfm.groupby(level=0, axis=1).max()
print(df2)

high           X   Y
first second
x     a        2   4
      b        6   8
y     a       10  12
      b       14  16

In [46]:
df2 = dfm.groupby(level=1, axis=1).max()
print(df2)

low            A   B
first second
x     a        3   4
      b        7   8
y     a       11  12
      b       15  16

In [38]:
gdf = df.groupby('A').transform(np.sum)
print(gdf)

   B  C
a  6  5
b  4  4
c  6  5
a  2  5
b  2  5
c  3  4

In [39]:
gdf = df.groupby('A').apply(np.sum)
print(gdf)

   A  B  C
A
1  2  6  5
2  2  4  4
3  6  2  5
4  4  3  4

In [40]:
gdf = df.groupby('A').agg(np.sum)
print(gdf)

   B  C
A
1  6  5
2  4  4
3  2  5
4  3  4

# Categorization

In [17]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3), 
                       index=['a','b','c'],
                       columns=['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [18]:
cat = pd.Categorical(['IV','I','IV'],
                     categories=['I','II','III','IV','V'],
                     ordered=True)
df['cat'] = cat
print(df)

   A  B  C cat
a  1  2  3  IV
b  4  5  6   I
c  7  8  9  IV

In [19]:
print(df['cat'].cat.as_ordered())

a    IV
b     I
c    IV
Name: cat, dtype: category
Categories (5, object): ['I' < 'II' < 'III' < 'IV' < 'V']

In [20]:
print(df.sort_values(by='cat'))

   A  B  C cat
b  4  5  6   I
a  1  2  3  IV
c  7  8  9  IV

In [21]:
print(df.groupby('cat').size())

cat
I      1
II     0
III    0
IV     2
V      0
dtype: int64

In [22]:
df['cat'] = ['IV','I','III']
print(df)

   A  B  C  cat
a  1  2  3   IV
b  4  5  6    I
c  7  8  9  III

In [23]:
df['cat'] = df['cat'].astype('category')
df['cat'] = df['cat'].cat.set_categories(['I','II','III','IV','V'], ordered=True)
print(df)

   A  B  C  cat
a  1  2  3   IV
b  4  5  6    I
c  7  8  9  III

In [24]:
print(df.sort_values(by='cat'))

   A  B  C  cat
b  4  5  6    I
c  7  8  9  III
a  1  2  3   IV